﻿@model IEnumerable<FileStorage.Models.FileModel>
@{
    ViewData["Title"] = "Хранение файлов";
}
<h3>Загрузка файлов в хранилище</h3>
<form asp-action="AddFile" asp-controller="Home" class="form-group" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="chooseFileImput">Выбирите загружаемый файл</label>
        <!--enctype="multipart/form-data" браузер будет знать, что вместе с формой надо передать файл.-->
        <input type="file" id="chooseFileImput" class="btn btn-secondary" name="uploadedFile" />
    </div>
    <div class="form-group">
        <label for="SubmitInput">Подтвердить загрузку</label>
        <input type="submit" id="SubmitInput" class="btn btn-secondary" value="Загрузить" />
    </div>
</form>


<h3>Файлы в хранилище:</h3>

@{
    int count = 0;
}
<div class="row">
    @foreach (string s in ViewBag.filesList)
    {
                <div class="col-sm">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header font-weight-bold"> @s </div>
                        <div class="card-body">
                            <details>
                                <p class="card-text">
                                    <ul class="list-group">
                                        <li class="list-group-item">Расположение: @ViewBag.fileInfos[count].FullName</li>
                                        <li class="list-group-item">Размер файла: @ViewBag.fileInfos[count].Length байт</li>
                                        <li class="list-group-item">Расширение: @ViewBag.fileInfos[count].Extension</li>
                                        <li class="list-group-item">Перемещено в хранилище:<br> @ViewBag.fileInfos[count].CreationTime</li>
                                    </ul>
                                </p>
                            </details>
                        </div>
                    </div>
                </div>
                count += 1;
                }
            </div>

